/* ---------------------------------------------------------------- */
.AltColor {
  color: #A9AFC3;
}

ul {
  list-style-type: none;
}

/* li {
      margin-bottom: 1rem;
  } */
.sectionHeader {
  color: #d6002f;
}

.sectionTitle {
  font-size: 4.2rem;
  font-weight: 600;
}

.sectionText {
  font-size: 1.5rem;
  color: #a9afc3;
}

.portoliosHeader,
.testimonialssHeader {
  padding-left: 1.5rem;
}

button {
  border-radius: 5px;
}

:root {
  --skilwidth: 0%;
}

:root {
  color: #A9AFC3;
  --dark-color: #A9AFC3;
}

/* ------------GLOBAL-------------- */
*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #111319;
  position: relative;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

.o-btn {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1.1rem 2rem;
  background-color: #d6002f;
}

.fw-300 {
  font-weight: 700;
}

section {
  margin-top: 4rem;
  padding: 4rem 15rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* -----------NAVBAR--------------- */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.2rem;
  position: fixed;
  z-index: 15;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navLogoLink {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.darkcolor {
  color: var(--dark-color);
}

.navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

.first {
  position: relative;
  -webkit-transition: all ease 0.18s;
  transition: all ease 0.18s;
  top: 0%;
}

.second {
  position: absolute;
  top: 100%;
  overflow: hidden;
  display: block;
  -webkit-transition: all ease 0.18s;
  transition: all ease 0.18s;
}

button:hover .first {
  color: #d6002f;
  top: -100%;
}

button:hover .second {
  color: #d6002f;
  top: 0%;
}

li:hover .first {
  color: #d6002f;
  top: -100%;
}

li:hover .second {
  color: #d6002f;
  top: 0%;
}

.navLink:hover {
  color: #d6002f;
}

.w-btn:hover {
  border-color: #d6002f;
}

.navLogoC {
  width: 5rem;
  padding: 0.2rem;
}

.navListItem,
.navLinkBtn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.contactbtn {
  padding: 0.7rem 2rem;
  border: 2px solid #A9AFC3;
  width: 100%;
}

.submitButton {
  width: 36%;
}

.ResponsiveMenuButton {
  font-size: 2.2rem;
  font-weight: 400;
  width: 40px;
}

.ResponsiveMenuButton .btn {
  border: none;
}

/* -----------HEADER--------------- */
header {
  height: 100vh;
  background-image: url(./img/headerMkh.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer {
  height: 100%;
  max-width: 40%;
  /* margin-left: 26rem; */
  margin-right: 31rem;
}

.headerContent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContent > * {
  margin-bottom: 1rem;
}

.getStarted {
  border: 1px solid #fff;
  width: 25%;
  margin-top: 0.8rem;
}

.linkgetStarted {
  font-size: 1.5rem;
  font-weight: 700;
}

/* -----------About me ------------- */
.aboutMeHeader {
  color: white;
  padding-left: 11rem;
  margin-top: 2rem;
}

.aboutMeBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6rem;
}

.aboutMeImg {
  width: 125%;
  /* margin-top: 50px; */
}

.aboutMeContent {
  margin-left: 7rem;
  position: relative;
  margin-top: -3rem;
}

.aboutMeImg,
.aboutMeImg img {
  border-radius: 1rem;
}

.personalLeft,
.personalRight {
  width: 45%;
}

.personalInfosUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 23vh;
}

.aboutMeBody {
  padding: 4rem 11rem;
}

.Imaneditor {
  padding-bottom: 1.7rem;
  line-height: 1.8rem;
  font-size: 1.15rem;
}

.PERSONALINFOS {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
}

.personalAboutText {
  color: #a9afc3;
}

.spaninfos {
  color: #f2f2f2;
}

.infosList {
  list-style-type: none;
  padding-top: 0.9rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  white-space: nowrap;
  /* overflow: hidden; */
}

.personalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
}

.hiThere,
.personelInfos {
  padding: 1rem 0;
}

.skillEducationBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 11rem;
}

.skills,
.education {
  width: 45%;
}

.downloadCvLink {
  font-size: 1.4rem;
  font-weight: 500;
}

/* -----------Skills--------------- */
.rangeContent0 {
  height: 100%;
  --skilwidth: 70%;
  max-width: var(--skilwidth);
  background-color: #d6002f;
  -webkit-animation: skillsWidth 5s;
          animation: skillsWidth 5s;
}

.rangeContent1 {
  height: 100%;
  --skilwidth: 95%;
  max-width: var(--skilwidth);
  background-color: #d6002f;
  -webkit-animation: skillsWidth 5s;
          animation: skillsWidth 5s;
}

.rangeContent2 {
  height: 100%;
  --skilwidth: 55%;
  max-width: var(--skilwidth);
  background-color: #d6002f;
  -webkit-animation: skillsWidth 5s;
          animation: skillsWidth 5s;
}

.rangeContent3 {
  height: 100%;
  --skilwidth: 85%;
  max-width: var(--skilwidth);
  background-color: #d6002f;
  -webkit-animation: skillsWidth 5s;
          animation: skillsWidth 5s;
}

.rangeBg {
  width: 100%;
  height: 0.4rem;
  background-color: #30333e;
}

.skillWord {
  padding-bottom: 0.8rem;
  font-size: 1.3rem;
}

.skillTitle {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0;
}

.educationList {
  list-style-type: circle;
  font-size: 1.5rem;
}

.educationBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.skillItem {
  margin-bottom: 1.9rem;
}

.EducationUniv {
  margin-bottom: 4rem;
}

@-webkit-keyframes skillsWidth {
  from {
    width: 0;
  }
  to {
    width: var(--skilwidth);
  }
}

@keyframes skillsWidth {
  from {
    width: 0;
  }
  to {
    width: var(--skilwidth);
  }
}

/*-----------------services--------------------*/
#servicesbir {
  background-color: #111319;
  margin-left: 11rem;
}

.servicesall {
  margin-top: -3rem;
}

.servicesBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  gap: 2rem;
}

.servicesCard {
  width: 25%;
}

.servicesCardContainer {
  background: #30333e;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesCardContainer > * {
  padding: 0.7rem;
}

.servicesIcon {
  width: 50%;
  margin: auto;
}

.servicesName {
  font-size: 1.8rem;
  font-weight: 700;
}

/*-----------portfolio------------*/
#portolio {
  background-color: #191C26;
  margin-top: 3rem;
}

.portoliosHeader {
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 11rem;
}

.portfolioBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 11rem;
}

.portfolioCard {
  padding: 1rem;
  width: 33.3%;
}

.portfolioCardContainer {
  padding: 0.7rem;
}

/*---------- Testimonials -------*/
.portfolioCard:hover .portfolioImg {
  /* background-color: #30333e; */
  background-color: #191c26;
  opacity: 0.3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.likescomments {
  opacity: 0;
  overflow: hidden;
}

.portfolioCard:hover .likescomments {
  opacity: 1;
  position: absolute;
  top: 210px;
  right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Comments {
  margin-left: 50px;
}

.portfolioCardContainer {
  overflow: hidden;
}

.coverig {
  position: absolute;
}

.left {
  width: 20%;
  border-radius: 1rem;
}

.left img {
  border-radius: 1rem;
}

.right {
  padding: 20px;
  width: 60%;
}

.rightText {
  font-size: 1.3rem;
  text-align: left;
  padding: 20px 0;
}

.testPeronAbout {
  margin: auto;
}

.testContainter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
}

.c_testimonialsBody {
  display: -webkit-box;
  overflow: auto;
  scrollbar-width: none;
  margin-left: 12rem;
  margin-top: 2rem;
}

.c_testimonialsBody::-webkit-scrollbar {
  display: none;
}

input[type="submit"] {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.w-btn:hover input[type="submit"] {
  color: #d6002f;
}

/*-------------Contacts----------*/
.ContactsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm {
  margin-left: 8rem;
}

.formText {
  padding: 20px 0;
}

form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inputDouble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-50 {
  width: 50%;
}

.co-201 {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightcontactmains {
  font-size: 2rem;
}

.infosContainer {
  padding: 20px 0;
}

form input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #f2f2f2;
}

/*------------FOOTER--------------*/
footer {
  margin-top: 4rem;
  padding: 4rem 10rem;
  background-color: #191c26;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContainer button {
  margin: 0;
}

.AltColor {
  color: #a9afc3;
}

ul {
  list-style-type: none;
}

.sectionHeader {
  color: #d6002f;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 600;
}

.sectionTitleBig {
  font-size: 4rem;
  font-weight: 600;
}

.sectionText {
  font-size: 1.5rem;
  color: var(--dark-color);
}

.sectionTextBig {
  font-size: 1.3rem;
  color: var(--dark-color);
}

.portoliosHeader {
  padding-left: 1rem;
}

.testimonialssHeader {
  padding-left: 12rem;
}

.infoSpans {
  margin-left: 0.5rem;
  color: var(--dark-color);
}

.headerMainText {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 700;
}

.ResponsiveMenuButton {
  display: none;
}

@media (max-width: 1024px) {
  .aboutMeContent {
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .aboutMeHeader {
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .portoliosHeader {
    margin-left: 0rem;
  }
  .portfolioBody {
    margin-left: 0rem;
  }
  .testimonialssHeader {
    padding-left: 0rem;
  }
  html {
    font-size: 14px;
  }
  section {
    padding: 4rem 1.43rem;
  }
  .portfolioCard {
    width: 100%;
  }
  .aboutMeBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutMeImg {
    width: 95%;
  }
  .portfolioBody {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    scrollbar-width: none;
  }
  .portfolioCard {
    scroll-snap-align: start;
    min-width: 70%;
  }
  .portfolioBody::-webkit-scrollbar {
    display: none;
  }
  .c_testimonialsBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    margin-left: 0rem;
  }
  .testimonialsItem {
    min-width: 100%;
    scroll-snap-align: start;
  }
  .skillEducationBody {
    margin: 0rem 2rem;
  }
  .skillEducationBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills, .education {
    width: 100%;
  }
  .headerMainText {
    font-size: 3rem;
  }
  header {
    background-position: 62%;
  }
  .headerContainer {
    max-width: 100%;
    margin-right: 0;
    margin-left: 2rem;
  }
  .firstLorem {
    white-space: break-spaces;
    font-size: 1.2rem;
  }
  .aboutMe {
    padding: 4rem 1.43rem;
  }
  .aboutMeBody {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .personalContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personelInfos {
    min-height: 55vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .o-btn {
    /*     max-width:55%; */
    max-width: 58.3%;
    margin-top: 3rem;
  }
  .aboutMeImg {
    margin: 3rem 0rem;
  }
  .infosList {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 500.1;
  }
  .aboutMeBody {
    padding: 0px;
  }
  .ContactsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicesBody {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #servicesbir {
    margin-left: 0rem;
  }
  .servicesCard {
    width: 100%;
  }
  .servicesCardContainer {
    padding: 1rem 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .servicesIcon {
    width: 25%;
    margin: 0px;
  }
  .sectionTitle {
    margin-bottom: 1rem;
  }
  .skillEducationHeader {
    margin-bottom: 2rem;
  }
  .sectionTitleBig {
    font-size: 2.4rem;
  }
  .sectionTitle {
    font-size: 2.2rem;
  }
  .right {
    padding: 0;
  }
  .rightText {
    font-size: 0.9rem;
  }
  .left {
    margin-bottom: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .contactForm {
    margin-left: 0rem;
    margin-top: 5rem;
  }
  .contactbtn {
    width: 100%;
  }
  .submitButton {
    width: 34%;
  }
  footer {
    padding: 1rem 1rem;
  }
  .ScrollUpButton {
    max-width: 100%;
  }
  .dropDownInner {
    display: block;
    position: fixed;
  }
  .ResponsiveMenuButton {
    display: block;
    text-align: center;
  }
  aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: block;
  }
  .navLink {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navListItem {
    display: block;
    width: 100%;
    padding: 0.7rem 0rem;
  }
  .navListItem:last-child {
    display: none;
  }
  .navLogoC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    background-color: #111319;
    padding: '.7rem 1.2rem';
    -webkit-box-shadow: '0px 0px 10px rgba(255,255,255,.08)';
            box-shadow: '0px 0px 10px rgba(255,255,255,.08)';
  }
  .getStarted {
    width: 46.6%;
  }
  .navLogoC {
    margin-bottom: 16px;
  }
  nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    height: 100px;
  }
  .testContainter {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  input {
    margin-bottom: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */